In [13]:
import pandas as pd
df=pd.read_csv('salaries_yearsLR.csv')

In [22]:
df.head(10)

   years_experience  Salary
0                 1   20000
1                 3   40000
2                 6   58000
3                 8   66000
4                 9   70000
5                12   82000
6                13   85000
7                15   92000
8                17  100000
9                20  108000

In [17]:
inputs=df.drop('Salary',axis='columns')
targets=df['Salary']
inputs.head()

   years_experience
0                 1
1                 3
2                 6
3                 8
4                 9

In [18]:
targets

0     20000
1     40000
2     58000
3     66000
4     70000
5     82000
6     85000
7     92000
8    100000
9    108000
Name: Salary, dtype: int64

In [23]:
from sklearn import linear_model
reg=linear_model.LinearRegression()
reg.fit(inputs,targets)

LinearRegression()

In [24]:
# salary after 10 years of experience
reg.predict([[10]])

array([70344.23305589])

In [25]:
# calculate-w1
reg.coef_

array([4389.41736029])

In [27]:
# calculate-w0
reg.intercept_

26450.059453032118

In [28]:
# y(salary)=w0+w1*year_experience(x)
26450.059453032118+4389.41736029*10

70344.23305593213

In [29]:
# calculate mean for years and salary
df.mean()

years_experience       10.4
Salary              72100.0
dtype: float64