In [1]:
# decision  tree classifiers

import pandas as pd
import sklearn
df={
    "age":[10,15,30,40],
    "salary":[1000,2000,30000,35000],
    "class":["budgetspender","budgetspender","bigspender","bigspender"]
}

In [2]:
data=pd.DataFrame(df)

In [3]:
data

   age  salary          class
0   10    1000  budgetspender
1   15    2000  budgetspender
2   30   30000     bigspender
3   40   35000     bigspender

In [4]:
convert_csv=data.to_csv("bigbudget_spender.csv")

In [5]:
convert_csv

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le_class=LabelEncoder()

In [8]:
data['class_n']=le_class.fit_transform(data['class'])

In [9]:
data.head()

   age  salary          class  class_n
0   10    1000  budgetspender        1
1   15    2000  budgetspender        1
2   30   30000     bigspender        0
3   40   35000     bigspender        0

In [10]:
data_n=data.drop('class',axis='columns')

In [11]:
data_n

   age  salary  class_n
0   10    1000        1
1   15    2000        1
2   30   30000        0
3   40   35000        0

In [12]:
inputs=data_n.drop('class_n',axis='columns')
targets=data_n['class_n']

In [13]:
inputs

   age  salary
0   10    1000
1   15    2000
2   30   30000
3   40   35000

In [14]:
targets

0    1
1    1
2    0
3    0
Name: class_n, dtype: int64

In [29]:
from sklearn import tree
model=tree.DecisionTreeClassifier(criterion='entropy')
model.fit(inputs,targets)

DecisionTreeClassifier(criterion='entropy')

In [30]:
model.predict([[35,3200]])

array([1])

In [26]:
# using Naive_bayes algorithm
# comparision between naive bayes and decision tree we assume
# that naive_bayes predict the perfect result.
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(inputs,targets)

GaussianNB()

In [23]:
model.predict([[35,32000]])

array([0])