In [103]:
import pandas as pd
df=pd.read_csv('spam.csv')

In [104]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [105]:
df.dropna(axis='columns',inplace=True)

In [106]:
df.rename(columns={'v1':'Category','v2':'Message'},inplace=True)

In [107]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [108]:
df.dropna(axis='columns')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [109]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [110]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5169
top         ham  Sorry, I'll call later
freq       4825                      30

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [112]:
# check is there any NaN in the fields.
df.columns[df.isna().any()]

Index([], dtype='object')

In [113]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head(20)

   Category                                            Message  spam
0       ham  Go until jurong point, crazy.. Available only ...     0
1       ham                      Ok lar... Joking wif u oni...     0
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3       ham  U dun say so early hor... U c already then say...     0
4       ham  Nah I don't think he goes to usf, he lives aro...     0
5      spam  FreeMsg Hey there darling it's been 3 week's n...     1
6       ham  Even my brother is not like to speak with me. ...     0
7       ham  As per your request 'Melle Melle (Oru Minnamin...     0
8      spam  WINNER!! As a valued network customer you have...     1
9      spam  Had your mobile 11 months or more? U R entitle...     1
10      ham  I'm gonna be home soon and i don't want to tal...     0
11     spam  SIX chances to win CASH! From 100 to 20,000 po...     1
12     spam  URGENT! You have won a 1 week FREE membership ...     1
13      ham  I've been searching for the right words to tha...     0
14      ham                I HAVE A DATE ON SUNDAY WITH WILL!!     0
15     spam  XXXMobileMovieClub: To use your credit, click ...     1
16      ham                         Oh k...i'm watching here:)     0
17      ham  Eh u remember how 2 spell his name... Yes i di...     0
18      ham  Fine if that��s the way u feel. That��s the wa...     0
19     spam  England v Macedonia - dont miss the goals/team...     1

In [114]:
df.drop(df.index[[18,21,22]],inplace=True)
df.head(23)

   Category                                            Message  spam
0       ham  Go until jurong point, crazy.. Available only ...     0
1       ham                      Ok lar... Joking wif u oni...     0
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3       ham  U dun say so early hor... U c already then say...     0
4       ham  Nah I don't think he goes to usf, he lives aro...     0
5      spam  FreeMsg Hey there darling it's been 3 week's n...     1
6       ham  Even my brother is not like to speak with me. ...     0
7       ham  As per your request 'Melle Melle (Oru Minnamin...     0
8      spam  WINNER!! As a valued network customer you have...     1
9      spam  Had your mobile 11 months or more? U R entitle...     1
10      ham  I'm gonna be home soon and i don't want to tal...     0
11     spam  SIX chances to win CASH! From 100 to 20,000 po...     1
12     spam  URGENT! You have won a 1 week FREE membership ...     1
13      ham  I've been searching for the right words to tha...     0
14      ham                I HAVE A DATE ON SUNDAY WITH WILL!!     0
15     spam  XXXMobileMovieClub: To use your credit, click ...     1
16      ham                         Oh k...i'm watching here:)     0
17      ham  Eh u remember how 2 spell his name... Yes i di...     0
19     spam  England v Macedonia - dont miss the goals/team...     1
20      ham          Is that seriously how you spell his name?     0
23      ham  Aft i finish my lunch then i go str down lor. ...     0
24      ham  Ffffffffff. Alright no way I can meet up with ...     0
25      ham  Just forced myself to eat a slice. I'm really ...     0

In [115]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.Message,df.spam,test_size=0.25)

In [116]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_count=v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [117]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [118]:
emails={
    'Hey mohan,can we get together to watch football game tomorrow?',
    'Hurrey you win iphone please provide your details'
}
emails_count=v.transform(emails)
model.predict(emails_count)

array([1, 0])

In [119]:
x_test_count=v.transform(x_test)
model.score(x_test_count,y_test)

0.9863603732950467

In [120]:
# using API
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [121]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [122]:
clf.score(x_test,y_test)

0.9863603732950467

In [123]:
clf.predict(emails)

array([1, 0])